header {
 
    
  }
  .nav-wrapper ul li a {
    color: #000 !important;
   }
   nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}


main img {
  max-width: auto;
  max-height: 500px;

}

 

hr {
    width: 75%;
}
